/*
The MIT License

Copyright 2014 Barnabas.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
*/
/* 
    Created on : Sep 22, 2014, 1:52:54 PM
    Author     : Barnabas
*/

body {
    background-color: #ffffff;
}

span.red {
    color: red;
}

/**
 * Page allignment 
 */

div#main-container {
    margin: auto;
    padding: 0px 10px;
    
    background-color: #f7f7f9;
}

div.top-content {
    margin-bottom: 20px;
    margin-top: 5px;
}

div.main-header {
    margin-top: 10px;
}

/**
 * Editor options
 */

div.editor-buttons button {
    margin: 0px 10px;
}

p#error_text {
    display: none;
    padding: 10px 15px;
}

textarea#editor {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

/**
 * Rendering options 
 */
table.situation-table td.cell-bid {
    font-weight: bold;
    white-space: nowrap;
}

div.extension {
    margin: 10px;
    padding: 10px;
}

table.situation-table td.critical, div.extension-critical{
    background-color: #FC827F;
}

table.situation-table td.important, div.extension-important{
    background-color: #FFC675;
}

table.situation-table td.changed, div.extension-changed{
    background-color: #FFFC75;
}

div.extension-normal {
    background-color: #DDDDFF;
}

/**
 * Revisions
 */

div.revision-line span.revision-button {
    border-radius: 50%;
    width: 20px;
    height: 20px; 
    display:block;
    float: left;
    margin: 0px 8px;
}

div.revision-formatter-0 span.revision-button { background-color: #dff0d8; }
div.revision-cell-0 { border-right: 15px solid #dff0d8; }

div.revision-formatter-1 span.revision-button { background-color: #d9edf7; }
div.revision-cell-1 { border-right: 15px solid #d9edf7; }

div.revision-formatter-2 span.revision-button { background-color: #F3C1CA; }
div.revision-cell-2 { border-right: 15px solid #F3C1CA; }

div.revision-formatter-3 span.revision-button { background-color: #f2dede; }
div.revision-cell-3 { border-right: 15px solid #f2dede; }

div.revision-formatter-4 span.revision-button { background-color: #B6BBBB; }
div.revision-cell-4 { border-right: 15px solid #B6BBBB; }

div.revision-formatter-5 span.revision-button { background-color: #8AA58A; }
div.revision-cell-5 { border-right: 15px solid #8AA58A; }

div.revision-formatter-6 span.revision-button { background-color: #887690; }
div.revision-cell-6 { border-right: 15px solid #887690; }

div.revision-formatter-7 span.revision-button { background-color: #B8AE7E; }
div.revision-cell-7 { border-right: 15px solid #B8AE7E; }

div.revision-line {
    margin: 30px 0px;
}
